.content-lection {
  display: flex;
  width: 100%;
}
.lection-forms {
  margin-left: 112px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  width: 100%;
}
.lection-section {
  display: flex;
}
.lection-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-right: 28px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.lection-form-info {
  display: flex;
  gap: 12px;
}
.lection-form-couch {
  width: calc(70% - 12px);
  appearance: none;
  border: none;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 28px;
  &::placeholder {
    font-family: RF Dewi Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #788693;
  }
  &:focus {
    outline: none;
  }
}
.lection-form-date {
  appearance: none;
  border: none;
  width: 30%;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 28px;
  &::placeholder {
    font-family: RF Dewi Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #788693;
  }
  &:focus {
    outline: none;
  }
}

.lection-form-inventory,
.lection-form-orientation,
.lection-form-tasks {
  appearance: none;
  border: none;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 28px;
  resize: vertical;
  &::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: RF Dewi Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #788693;
  }
  &:focus {
    outline: none;
  }
}
.lection-buttons-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 28px;
}
.lection-buttons-button {
  position: relative;
  appearance: none;
  background: #0a84ff;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  gap: 23px;
  align-items: center;
  padding: 14px 33px;
  cursor: pointer;
  width: 100%;
  opacity: 1;
  overflow: hidden;
  transition: all 250ms linear;
  &:hover {
    background: #ffffff;
  }
  &:hover .lection-buttons-icon {
    fill: #0a84ff;
  }
  &:hover .lection-buttons-text {
    color: #0a84ff;
  }
}
.lection-buttons-button-backdrop {
  position: absolute;
  top: -3px;
  left: -3px;
  height: 110%;
  width: 0;
  background: #ffffff;
  &.active {
    width: 105%;
    transition: width 800ms linear;
  }
}
.lection-buttons-ok {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  background: #25cd09;
  border-radius: 12px;
  padding: 22px 0;
  border: 3px solid #25cd09;
  transition: opacity 300ms linear;
  &.active {
    opacity: 1;
  }
}
.lection-buttons-text-ok {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}
.lection-buttons-ok-icon {
  width: 16px;
  height: 12px;
  margin-right: 27px;
}
.lection-buttons-icon {
  width: 20px;
  height: 16px;
  fill: #ffffff;
  transition: fill 250ms linear;
}
.lection-buttons-text {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms linear;
}
.lection-convas {
  margin-top: 40px;
}
.lection-convas-list {
  display: flex;
  gap: 2px;
}
.lection-convas-item {
  width: 185px;
  position: relative;
  display: flex;
  align-items: center;
  &:hover .lection-convas-button-list {
    opacity: 1;
  }
}
.lection-convas-button {
  position: relative;
  cursor: pointer;
  width: 100%;
  appearance: none;
  border: none;
  background: #e0eaf7;
  border-radius: 8px 8px 0px 0px;
  padding: 16px 12px 16px 24px;
  &:hover .lection-convas-text {
    color: #0a84ff;
  }
  &.active {
    background: #ffffff;
  }
}
.lection-convas-button-input {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  appearance: none;
  border: none;
  background: none;
  padding-left: 24px;
  &.active {
    display: flex;
  }
  &:focus {
    outline: none;
  }
}
.lection-convas-text {
  font-family: RF Dewi Extended;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #272727;
  transition: color 250ms linear;
}
.lection-convas-button-list {
  position: absolute;
  top: 50%;
  right: 12px;
  display: flex;
  align-items: center;
  opacity: 0;
  gap: 2px;
  transition: opacity 250ms linear;
  transform: translateY(-50%);
}
.lection-convas-edit {
  cursor: pointer;
  appearance: none;
  border: none;
  background: #bdc7d0;
  border-radius: 3px;
  padding: 3px 6px;
  transition: background 250ms linear;
  &:hover {
    background: #0a84ff;
  }
}
.lection-convas-icon {
  width: 8px;
  height: 8px;
}
.lection-convas-close {
  cursor: pointer;
  appearance: none;
  border: none;
  background: #bdc7d0;
  border-radius: 3px;
  padding: 3px 6px;
  transition: background 250ms linear;
  &:hover {
    background: #0a84ff;
  }
}
.lection-convas-section {
  background: #ffffff;
  border-radius: 0px 24px 24px 24px;
  padding: 48px;
}
.lection-convas-section-content {
  appearance: none;
  width: 100%;
  background: #ffffff;
  border: 1px solid #939ea8;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
  resize: vertical;
  height: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgba(120, 134, 147, 0.8);
    font-family: RF Dewi Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
}
.lection-convas-section-list {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 32px;
}
.lection-convas-section-list-block {
  display: flex;
  gap: 2px;
}
.lection-convas-section-list-add {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 47px;
  appearance: none;
  border: none;
  background: #ffffff;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transition: background 250ms linear;
  &:hover {
    background: #0a84ff;
  }
  &:hover .lection-convas-section-list-add-icon2 {
    opacity: 1;
  }
  &:hover .lection-convas-section-list-add-icon {
    opacity: 0;
  }
}
.lection-convas-section-list-add-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 250ms linear;
}
.lection-convas-section-list-add-icon2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 250ms linear;
}
.lection-convas-section-button {
  cursor: pointer;
  background: #ffffff;
  opacity: 0.2;
  border: 3px solid #939ea8;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px 40px;
  transition: all 250ms linear;
  &.active {
    background: #ffffff;
    border: 3px solid #0a84ff;
    box-sizing: border-box;
    border-radius: 12px;
    opacity: 1;
  }
  &:hover {
    background: #ffffff;
    border: 3px solid #0a84ff;
    box-sizing: border-box;
    border-radius: 12px;
    opacity: 1;
  }
}
.lection-convas-section-icon {
  width: 114px;
  height: 70px;
  stroke: #939ea8;
}
.convas-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 100%;
  height: 500px;
}
.convas-block-icon {
  // justify-content: center;
  width: 100%;
  height: 100%;
  stroke: #0a84ff;
  stroke-width: 0.2px;
  transition: stroke 250ms linear;
}
.lection-convas-pages-navigation {
  // display: flex;
  display: none;
}
.lection-convas-pages-back {
  appearance: none;
  border: none;
  background: #ffffff;
  padding: 19px 9px;
  border-radius: 8px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 250ms linear;
  &:hover {
    background: #0a84ff;
  }
  &:hover .lection-convas-icon-back {
    fill: #ffffff;
  }
}
.lection-convas-icon-back {
  width: 11px;
  height: 9px;
  fill: #0a84ff;
  transition: fill 250ms linear;
}
.lection-convas-pages-next {
  position: relative;
  appearance: none;
  border: none;
  background: #ffffff;
  padding: 19px 9px;
  border-radius: 0px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 250ms linear;
  &:hover {
    background: #0a84ff;
  }
  &:hover .lection-convas-icon-next {
    fill: #ffffff;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #d8e1ec;
  }
}
.lection-convas-icon-next {
  width: 11px;
  height: 9px;
  fill: #0a84ff;
  transform: rotate(-180deg);
  transition: fill 250ms linear;
}
