@font-face {
  font-family: "RF Dewi Extended";
  src: url("../../fonts/RFDewiExtended-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("../../fonts/RFDewiExtended-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
